.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

.form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 16px;
}

fieldset {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
